.buttons{
    display: flex;
    justify-content: center; 
}

button{
    margin: 10px;

}

.choices{
    display: flex;
    justify-content: center;
}

.question{
    justify-content: center;
    display: flex;
    font-size: 30px;
}

.asking{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
}

.results{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;

}

.last-round{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
